<ngx-loading [show]="loading" ></ngx-loading>
<mat-toolbar class="events-filter-toolbar">
  <mat-toolbar-row>
    <span class="tollbar-splitter"></span>
    <button *ngIf="permissions['new_event_type'] == true" mat-button routerLink="event-type"><i class="material-icons md-dark">playlist_add</i> New Event Type</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-list *ngIf="permissions['list_event_types'] == true">
  <mat-list-item *ngFor="let eventType of eventTypes">
    <mat-icon matListIcon>grain</mat-icon>
    <h3 matLine> {{ eventType.Name }} </h3>
    <p matLine>
          <span> {{ eventType.Desc }} </span>
    </p>
    <button matTooltip="Edit Permissions" *ngIf="permissions['edit_event_type'] == true" (click)="goto_permission_view(role)" mat-icon-button><mat-icon>edit</mat-icon></button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
