.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://ibb.co/jNkMT8');
  background-size: cover;
}

.events-filter-toolbar
{
  margin-top : 20px;
}

.tollbar-splitter
{
  flex: 1 1 auto;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}
