<mat-toolbar class="events-filter-toolbar">
  <mat-toolbar-row>
    <mat-form-field class="half-width">
    <input type="text"  placeholder="Search Events" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    </mat-form-field>

    <span class="tollbar-splitter"></span>
        <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="spacer"></div>
<div class="events-container">
<mat-grid-list [cols]="cols | async" gutterSize="15px" >
  <mat-grid-tile *ngFor="let x of [1,2,3,4,5,6,7,8,9,0,3,4,5,6,7,8]">
    <mat-card class="event-card">
      <img mat-card-image class="card-image" src="https://algovent-s3-static.s3.amazonaws.com/eventico/media/event_bWDUlrT.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="date_name_location">
          <div class="event_date_month">
            <p class="event_month">jun</p>
            <p class="event_date">9</p>
            <p class="event_day">sat</p>
          </div>
          <div class="event_name_location">
            <p class="event_name">Asha Bhosle Live with Javed Ali - Sound of Silence</p>
            <a href="#" class="event_location">Phoenix Market City: Whitefield</a>
            <p class="event_price" >Rs. 999 Onwards</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="#cc3333cc" >Book</button>
        <span class="toolbar-splitter"></span>
        <button mat-icon-button routerLink=""><mat-icon aria-label="Settings">share</mat-icon></button>
        <button mat-icon-button routerLink=""><mat-icon aria-label="Settings">edit</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
