<form id="payment_form" name="payment_form" #payment_form [action]="payment_request_form.action" method="post" hidden="true"  name="payuForm" >
  <input name="key" #key="ngModel" [(ngModel)]="payment_request_form.key" required />
  <input name="hash" #hash="ngModel" [(ngModel)]="payment_request_form.hash" required/>
  <input name="txnid" #txnid="ngModel" [(ngModel)]="payment_request_form.txnid" required/>
  <input name="amount" #amount="ngModel" [(ngModel)]="payment_request_form.amount" required/>
  <input name="firstname" #firstname="ngModel" [(ngModel)]="payment_request_form.firstname" required/>
  <input name="email" #email="ngModel" [(ngModel)]="payment_request_form.email" required/>
  <input name="phone" #phone="ngModel" [(ngModel)]="payment_request_form.phone" required/>
  <textarea name="productinfo">{{ payment_request_form.product_info }}</textarea>
  <input #surl="ngModel" name="surl" [(ngModel)]="payment_request_form.action" size="64" required/>
  <input #furl="ngModel" name="furl" [(ngModel)]="payment_request_form.action" size="64" required/>
  <input name="service_provider" value="payu_paisa" size="64" />
  <input *ngIf="payment_form.valid" type="submit" value="Submit" />
</form>
<mat-card class="banner-card">
  <img class="boking_banner responsive center" [src]="event.images['banner'].url">
</mat-card>
<div id="wrapper">
  <mat-card class="">
    <mat-list>
      <mat-list-item *ngFor="let price of bookingLayout.priceList">
        <mat-icon class="pricing_color_icon" matListIcon [style.color]="price.color">event_seat</mat-icon>
        <h3 matLine> {{ price.label }} </h3>
        <p matLine>
          <span> RS {{ price.value }} </span>
          <span class="demo-2"> -- {{ price.desc }} </span>
        </p>
        <mat-divider></mat-divider>
        {{  a }}
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card  class="scrollable-content" style="flex-basis: 800px">
    <mat-card-content >
        <table *ngFor="let group of layout_groups" disabled>
          <tr *ngFor="let row of group.rows">
            <td *ngFor="let col of row.cols" class="seat-col">
              <button *ngIf="col.type != 'active'" [matTooltip]="col.number" class="seat-button" disabled  mat-icon-button><mat-icon [style.color]="bookingLayout.typeColors[col.type]" aria-label="Event Seat">{{ bookingLayout.typeIcons[col.type] }}</mat-icon></button>
              <button *ngIf="col['selected'] == true" (click)="bookingLayout.selectSeat(col)" [matTooltip]="'seat : '+col.number+' ,cost : '+bookingLayout.priceMap[col.price].value" class="seat-button" mat-icon-button><mat-icon [style.color]="bookingLayout.typeColors['na']" aria-label="Event Seat">{{ bookingLayout.typeIcons[col.type] }}</mat-icon></button>
              <button *ngIf="col.type == 'active' && col['selected'] != true" (click)="bookingLayout.selectSeat(col)" [matTooltip]="'seat : '+col.number+' ,cost : '+bookingLayout.priceMap[col.price].value" class="seat-button" mat-icon-button><mat-icon [style.color]="bookingLayout.priceMap[col.price].color" aria-label="Event Seat">{{ bookingLayout.typeIcons[col.type] }}</mat-icon></button>
            </td>
          <tr>
        </table>
      </mat-card-content>
  </mat-card>
  <mat-card class="" >
    <mat-list>
      <mat-list-item *ngFor="let summary_unit of bookingLayout.selection_info['selection_summary']">
        <mat-icon class="pricing_color_icon" matListIcon [style.color]="bookingLayout.priceMap[summary_unit.price].color">event_seat</mat-icon>
        <h3 matLine> {{ bookingLayout.priceMap[summary_unit.price].label }} </h3>
        <p matLine>
          <span> RS {{ bookingLayout.priceMap[summary_unit.price].value }} </span>
          <span class="demo-2"> x {{ summary_unit.qty }} </span>
        </p>
        <button mat-icon-button (click)="bookingLayout.removeSelection(summary_unit)"><mat-icon>delete_outline</mat-icon></button>
        <mat-divider></mat-divider>

      </mat-list-item>

      <mat-list-item>
        <mat-icon class="pricing_color_icon" matListIcon >payment</mat-icon>
        <h2 matLine> Total </h2>
        <button mat-icon-button>RS. {{ bookingLayout.selection_info['total'] }}</button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>

    <mat-card-actions *ngIf="bookingLayout.selection_info['total'] > 0">
      <button mat-button (click)="onNavigate()">PAY</button>
      <button mat-button (click)="skipAndBook()">SKIP PAY & BOOK</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="spacer"></div>
<div class="screen-container">
  <div style="text-align: center" class="screen-div">SCREEN HERE</div>
</div>
