.new-event-card
{
   max-width: 30%;
   margin: 100px auto;
}

@media only screen and (max-width: 1105px) {
   .new-event-card
    {
       max-width: 40%;
       margin: 100px auto;
    }
}


@media only screen and (max-width: 1020px) {
  .new-event-card
  {
     max-width: 50%;
     margin: 100px auto;
  }
}
@media only screen and (max-width: 685px) {
  .new-event-card
  {
     max-width: 70%;
     margin: 100px auto;
  }
}
@media only screen and (max-width: 560px) {
  .event_name_location{
   	width: 100%;
   }
}

.full-width
{
  width : 100%;
}

.half-width
{
  width : 50%;
}

.forty-width
{
  width : 40%;
}

.thirty-width
{
  width : 30%;
}

.twenty-width
{
  width : 20%;
}

.ten-width
{
  width : 10%;
}

.fivepx-margin-right
{
  margin-right: 5px;
}

.new-event-card-title
{
  flex: 1 1 auto;
  text-align: center;
}

.layout-content
{
  align: center;
}

table { margin: auto; }

.pricing_color_icon
{
  cursor: pointer;
}
