<mat-horizontal-stepper>
  <mat-step label="Setup Event Venue">
    <form class="new-event-venue-form" #eventVenueCreationForm="ngForm">
      <div>
        <button  mat-button type="submit" (click)="upsertEventVenue()">UPSERT</button>
        <button  *ngIf="eventVenue.Id != null || eventVenue.Id != undefined" mat-button matStepperNext >NEXT</button>
      </div>
      <mat-card class="new-event-venue-card">
        <mat-card-title ><i class="material-icons">local_play</i></mat-card-title>
        <mat-card-content>
            <mat-form-field  class="full-width">
              <input  placeholder="Search Events" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [(ngModel)]="eventVenue.location.Address" [formControl]="searchControl" matInput>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Name" #Name="ngModel" [(ngModel)]="venueLocation.Name" name="Name" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" #Desc="ngModel" [(ngModel)]="eventVenue.Desc" name="Description" required></textarea>
            </mat-form-field>


          <div #map></div>
            <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>

          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
      </mat-card>

    </form>
  </mat-step>

  <mat-step label="Set Layout" *ngIf="eventVenue.Id != null">
    <mat-toolbar class="layout-create-toolbar">
      <mat-toolbar-row>
        <mat-form-field>
          <mat-select  #LayoutType placeholder="Layout Type" [(ngModel)]="eventVenue.eventVenueLayout.layout_type" name="LayoutType">
            <mat-option value="none">
              NONE
            </mat-option>
            <mat-option value="box">
              BOX
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="tollbar-splitter"></span>
        <form class="new-event-venue-form" #addGroupForm="ngForm" (ngSubmit)="addGroup(addGroupForm)" *ngIf="eventVenue.eventVenueLayout.layout_type == 'box'">
          <input mat-input type="text" #groupName="ngModel" [(ngModel)]="addGroupFormData.group_name" placeholder="Group Name" name="groupName" >
          <input mat-input type="number" #rows="ngModel" [(ngModel)]="addGroupFormData.rows" placeholder="Rows" name="rows" >
          <input mat-input type="number" #cols="ngModel" [(ngModel)]="addGroupFormData.cols" placeholder="Cols" name="cols" >
          <button mat-button type="submit" color="primary" >Add Group</button>
        </form>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar class="layout-create-toolbar">
      <mat-toolbar-row>
        <form class="new-event-venue-form" #markEmptyForm="ngForm" (ngSubmit)="markEmpty(markEmptyForm)">

          <mat-form-field>
            <mat-select placeholder="Select Group" #GroupSelect="ngModel" [(ngModel)]="markEmptyFormData.group_index" name="GroupSelect">
              <mat-option *ngFor="let group of layout_groups;let i = index" [value]="i">
                {{ group.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="markEmptyFormData.group_index != -1">
            <mat-select  #RowSelect placeholder="Select Row" [(ngModel)]="markEmptyFormData.row_index" name="RowSelect">
              <mat-option *ngFor="let row of layout_groups[markEmptyFormData.group_index].rows ;let j = index" [value]="j">
                {{ row.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="markEmptyFormData.row_index != -1">
            <mat-select  #StartColSelect placeholder="Select Start Column" [(ngModel)]="markEmptyFormData.start_col_index" name="StartColSelect">
              <mat-option *ngFor="let col of layout_groups[markEmptyFormData.group_index].rows[markEmptyFormData.row_index].cols ;let k = index" [value]="k">
                {{ k }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="markEmptyFormData.row_index != -1">
            <mat-select  #EndColSelect placeholder="Select End Column" [(ngModel)]="markEmptyFormData.end_col_index" name="EndColSelect">
              <mat-option *ngFor="let col of layout_groups[markEmptyFormData.group_index].rows[markEmptyFormData.row_index].cols;let l = index" [value]="l">
                {{ l }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span class="tollbar-splitter"></span>
          <button mat-button type="submit" color="primary" >Mark Empty</button>
          <button mat-button >Reset Layout</button>
        </form>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar class="layout-create-toolbar">
      <mat-toolbar-row>
        <form class="new-event-venue-form" #addPathForm="ngForm" (ngSubmit)="addPath(addPathForm)">
          <mat-form-field>
            <mat-select placeholder="Select Group" #GroupSelect="ngModel" [(ngModel)]="addPathFormData.group_index" name="GroupSelect">
              <mat-option *ngFor="let group of layout_groups;let i = index" [value]="i">
                {{ group.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="addPathFormData.group_index != -1">
            <mat-select  #ColSelect placeholder="Select Col index" [(ngModel)]="addPathFormData.col_index" name="ColSelect">
              <mat-option *ngFor="let col of layout_groups[addPathFormData.group_index].rows[0].cols ;let j = index" [value]="j">
                {{ j }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span class="tollbar-splitter"></span>
          <button mat-button type="submit" color="primary" >Add Path</button>
          <button mat-button >Reset Layout</button>
        </form>
      </mat-toolbar-row>
    </mat-toolbar>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="upsertLayout()">UPSERT LAYOUT</button>
    </div>

    <mat-card  *ngIf="eventVenue.eventVenueLayout.layout_type == 'box'" class="layout-card scrollable-content">
      <mat-card-content>
        <table *ngFor="let group of layout_groups">
          <tr *ngFor="let row of group.rows">
            <td class="row-name-col">
              <button class="seat-button" mat-icon-button>{{row.name}}</button>
            </td>
            <td *ngFor="let col of row.cols" class="seat-col">
              <button *ngIf="col.type != 'active'" [matTooltip]="col.number" class="seat-button" disabled  mat-icon-button><mat-icon [style.color]="eventVenueLayout.typeColors[col.type]" aria-label="Event Seat">{{ eventVenueLayout.typeIcons[col.type] }}</mat-icon></button>
              <button *ngIf="col.type == 'active'" [matTooltip]="'seat : '+col.number+' ,cost : '+eventVenueLayout.priceMap[col.price].value" class="seat-button" mat-icon-button><mat-icon [style.color]="eventVenueLayout.priceMap[col.price].color" aria-label="Event Seat">{{ eventVenueLayout.typeIcons[col.type] }}</mat-icon></button>
            </td>
          <tr>
          <tr *ngIf="group != null && group.rows != null && group.rows[0] != null">
            <td class="row-name-col">
              <button class="seat-button" mat-icon-button>.</button>
            </td>
            <td *ngFor="let col of group.rows[0].cols; let m = index" class="seat-col">
              <button class="seat-button" mat-icon-button>{{ m }}</button>
            </td>
          <tr>
        </table>
        <div class="spacer"></div>
        <div class="screen-container">
          <div style="text-align: center" class="screen-div">SCREEN HERE</div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
