.new-event-venue-card
{
   max-width: 80%;
   margin: 100px auto;
}

.full-width
{
  width : 100%;
}

.new-event-venue-card-title
{
  flex: 1 1 auto;
  text-align: center;
}

.example-card {
  max-width: 250px;
}

.layout-create-toolbar
{
  margin-top : 20px;
}

.tollbar-splitter
{
  flex: 1 1 auto;
}
.layout-content
{
  align: center;
}

table { margin: auto; }

agm-map {
  height: 300px;
}
