<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="">Eventico</button>
    <button mat-button routerLink=""><i class="material-icons md-18">home</i></button>
    <span class="tollbar-splitter"></span>
    <button *ngIf="loggedIn" mat-button (click)="logout()" >LOGOUT</button>
    <button *ngIf="loggedIn == false" mat-button routerLink="login">LOGIN</button>
    <button *ngIf="loggedIn == false" mat-button routerLink="signup">SIGNUP</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar *ngIf="adminToolBar['allowed'] == true" class="admin-toolbar">
  <i class="material-icons md-dark">supervisor_account</i>
  <button mat-button routerLink="event/new"><i class="material-icons md-dark">playlist_add</i> New Event</button>
  <button mat-button routerLink="event-types"><i class="material-icons md-dark">find_replace</i> Event Types</button>
  <span class="admin-tollbar-spacer"></span>
  <button mat-button routerLink=""><i class="material-icons md-dark">find_replace</i> User Management</button>
  <button mat-button routerLink=""><i class="material-icons md-dark">cloud_download</i> Reports</button>
</mat-toolbar>
