.tollbar-splitter
{
  flex: 1 1 auto;
}

.header
{
  left: 0;
  right: 0;
}


.admin-tollbar-spacer
{
  flex: 1 1 auto;
}
.addon-tools {
  display: display;
}
@media only screen and (max-width: 700px) {
    .responsive_span_text {
        display: none;
    }
    .addon-tools {
      display: display;
    }
    .big-screen {
      display: none;
    }

}

