{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eventico</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

  </style>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% for css_file_name in css_list %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}{{ css_file_name }}" />
  {% endfor %}

</head>
<body>
  <app-root></app-root>
{% for js_file_name in js_list %}
  <script type="text/javascript" src="{% static 'js/' %}{{ js_file_name }}"></script>
{% endfor %}

</body>
</html>
