<mat-card class="login-card">
  <mat-card-title class="login-title">LOGIN</mat-card-title>
  <form class="login-form" #userLoginForm="ngForm" (ngSubmit)="onLogin(userLoginForm)">
  <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" #Email="ngModel" [(ngModel)]="user.Email" name="Email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" #Password="ngModel" [(ngModel)]="user.Password" name="Password" required>
      </mat-form-field>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" class="full-width" color="primary">Login</button>
  </mat-card-actions>
  </form>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button  color="primary"><i class="material-icons md-dark">book</i> Facebook</button>
    <button mat-button  color="primary"><i class="material-icons md-dark">book</i> Google</button>
  </mat-card-actions>
</mat-card>
