@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
   margin: 0px;
   padding: 0px;
}



.screen-div {
	border-bottom: 50px solid #cccbcb;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.layout-card
{
   max-width: 70%;
   margin: 10px auto;
}

.mat-card.scrollable-content {
  overflow: scroll;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.responsive {
    max-width: 100%;
    height: auto;
}

.screen-container
{
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;

    text-align: center;
    font-size: 12px;
}

.seat-col
{

}

.vDivider {
     border-left:1px solid #38546d;
     border-right:1px solid #16222c;
     height:80px;
     position:absolute;
     right:249px;
     top:10px;
}

.seat-button
{

}

.spacer{
  height: 30px;
}

.row-name-col
{
}

.tollbar-splitter
{
  flex: 1 1 auto;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

mat-icon {
  font-size: 16px;
}

td {
  max-height: 18px;
  max-width: 20px;
}

.seat-button
{
  max-height: 24px;
  max-width: 24px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.full-width
{
  width : 100%;
}

.half-width
{
  width : 50%;
}
