@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
   margin: 0px;
   padding: 0px;
}

.screen-div {
    width: 100%;
    text-align: center;
}

.layout-card
{
   max-width: 70%;
   margin: 10px auto;
}

.mat-card.scrollable-content {
  overflow: scroll;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

.seat-col
{

}

.seat-button
{

}

.row-name-col
{
}

.tollbar-splitter
{
  flex: 1 1 auto;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

mat-icon {
  font-size: 16px;
}

td {
  max-height: 18px;
  max-width: 20px;
}

.seat-button
{
  max-height: 24px;
  max-width: 24px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
