<h2 mat-dialog-title>Forgot Password</h2>
<mat-dialog-content>
  <mat-vertical-stepper  [linear]="true" #stepper>

    <mat-step [stepControl]="emailFormGroup" [editable]="false">
      <ng-template matStepLabel>Fill out your email</ng-template>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
        <input matInput type="text" placeholder="Email" #Email email required formControlName="emailCtrl">
        </mat-form-field>
        <div>
          <button mat-button (click)="send_otp(Email.value, stepper)">SEND OTP</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="otpFormGroup" [editable]="false">
      <ng-template matStepLabel>Confirm OTP</ng-template>
      <form [formGroup]="otpFormGroup">
        <mat-form-field>
          <input matInput type="text" #Otp placeholder="Otp" required formControlName="otpCtrl">
        </mat-form-field>
        <div>
          <button mat-button (click)="stepper.reset()">RESEND OTP</button>
          <button mat-button (click)="confirm_otp(Otp.value, stepper)">VERIFY OTP</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="resetPasswordFormGroup" [editable]="false">
      <ng-template matStepLabel>Reset Password</ng-template>
      <form [formGroup]="resetPasswordFormGroup">
        <mat-form-field>
          <input matInput type="password" #Password placeholder="Password" required formControlName="passwordCtrl" >
        </mat-form-field>
        <div>
          <button mat-button (click)="reset_password(Password.value)">RESET PASSWORD</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

