<ngx-loading [show]="loading" ></ngx-loading>
<mat-card class="register-card">
  <div class="container">
  <form #userRegistrationForm="ngForm" (ngSubmit)="onRegister(userRegistrationForm)">
    <div class="row">
      <h2 style="text-align:center"></h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a (click)="socialSignIn('facebook')" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a (click)="socialSignIn('google')" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or</p>
        </div>

        <app-show-errors [control]="Email"></app-show-errors>
        <input  type="email" placeholder="Email" #Email="ngModel" [(ngModel)]="user.Email" name="Email" required email>
        <app-show-errors [control]="Mobile"></app-show-errors>
        <input  placeholder="Mobile" #Mobile="ngModel" [(ngModel)]="user.Mobile" name="Mobile" required validateMobile>
        <app-show-errors [control]="Name"></app-show-errors>
        <input  placeholder="Name" #Name="ngModel" [(ngModel)]="user.Name" name="Name" required>
        <app-show-errors [control]="Password"></app-show-errors>
        <input  placeholder="Password" type="password" #Password="ngModel" [(ngModel)]="user.Password" name="Password" required>
        <mat-checkbox name="AgreeTerms" #AgreeTerms [(ngModel)]="user.AgreeTerms" color="warn"><span class="checks">I Agree <a href="#" target="_blank">Terms & Conditions</a></span></mat-checkbox><br>
        <mat-checkbox name="Subscribe" [(ngModel)]="user.Subscribe" color="warn"><span class="checks">SUBSCRIBE FOR OUR NEWS LETTERS</span></mat-checkbox>
        <input type="submit" value="Sign Up" >
      </div>

    </div>
  </form>
</div>
</mat-card>


