<mat-card class="register-card">
  <div class="container">
  <form #userRegistrationForm="ngForm" (ngSubmit)="onRegister(userRegistrationForm)">
    <div class="row">
      <h2 style="text-align:center"></h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a (click)="socialSignIn('facebook')" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a (click)="socialSignIn('google')" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or</p>
        </div>

        <input  type="email" placeholder="Email" #Email="ngModel" [(ngModel)]="user.Email" name="Email" required>
        <input  placeholder="Mobile" #FirstName="ngModel" [(ngModel)]="user.Mobile" name="Mobile" required>
        <input  placeholder="Firstname" #FirstName="ngModel" [(ngModel)]="user.FirstName" name="FirstName" required>
        <input  placeholder="Lastname" #LastName="ngModel" [(ngModel)]="user.LastName" name="LastName" required>
        <input  placeholder="Password" type="password" #Password="ngModel" [(ngModel)]="user.Password" name="Password" required>
        <input type="submit" value="Sign Up">
      </div>

    </div>
  </form>
</div>
</mat-card>


