<mat-card class="register-card">
  <mat-card-title class="register-title">SIGNUP</mat-card-title>
  <form class="register-form" #userRegistrationForm="ngForm" (ngSubmit)="onRegister(userRegistrationForm)">
  <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Firstname" #FirstName="ngModel" [(ngModel)]="user.FirstName" name="FirstName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Lastname" #LastName="ngModel" [(ngModel)]="user.LastName" name="LastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" #Email="ngModel" [(ngModel)]="user.Email" name="Email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" #Password="ngModel" [(ngModel)]="user.Password" name="Password" required>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="submit" class="full-width" color="primary">REGISTER</button>
  </mat-card-actions>
  </form>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button  color="primary"><i class="material-icons md-dark">book</i> Facebook</button>
    <button mat-button  color="primary"><i class="material-icons md-dark">book</i> Google</button>
  </mat-card-actions>
</mat-card>
